In [3]:
def say_hello():
    print('Hello!')

In [5]:
#call the function
say_hello()

Hello!

In [7]:
def say_something(something):
    print(something)

In [8]:
Abdullah_says = 'Hi, I really want someone to love in my life, I want the love of my life'
say_something(Abdullah_says)

Hi, I really want someone to love in my life, I want the love of my life

In [9]:
my_grades = ['B', 'C', 'B', 'D']

import pandas as pd 

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [10]:
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [22]:
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    98
dtype: object